<h1>Editors and their Components</h1>

<p>
    We provide completely wired editors, as well as all the necessary primitives for building a more tailored editor of your own.
    Our general assumption is that an editor consists of three parts:
</p>
<ul>
    <li>the modeling canvas</li>
    <li>the editor bar, providing file-level functionality such as loading and saving models</li>
    <li>the model-specific palette for creating new model elements</li>
</ul>

<h2>Modeling Canvas</h2>

<p>
    You can use the svg canvas of EMFular-diagram to project your own svg components onto.
    If you have no own graphical representation, you can project our tree model element onto that canvas.
    In that case, using the tree based editor could also work for you.
</p>


<h2>Editor Bar</h2>

<p>
    The editor bar is concerned with a fixed set of global model operations: creating, loading and saving models, undo and redo of edit operations, and downloading graphical representations.
    It needs two inputs: the model service, since it controls model editions and coordinates them with the history service, and an svg element, usually just the one from the drawing canvas, so that it can offer jpeg, png and svg downloads of it.
</p>

<emfular-file-level-bar
        [svg]=""
        [modelService]="demoModelService"
>
</emfular-file-level-bar>

<h2>Creation Palette</h2>

<p>We offer a simple abstraction for model-specific buttons:</p>
<demo-highlighted-code [code]="editButtonDef"></demo-highlighted-code>
<p>
    It should be sufficient to define a button with a label, and an associated action, as well as an optional icon (via its string name), and a disabled flag.
    We provide a palette, that consumes such button definitions to display creation buttons (or other buttons you specify).
</p>
<div class="button0-container">
    <emfular-model-editing-bar [buttons]="buttons0">
    </emfular-model-editing-bar>
    <span class="output">{{ buttonMessage0 }}</span>
</div>

<h2>Complete Editors</h2>

<h3>Basic Editor</h3>
<p>
    We provide a basic editor with the model editor bar and content projection slots for the graphical elements and the optional model editing palette.
</p>

<p>
    The version below basically recreates the look of the complete tree editor further down the page.
    However, the tree model element component exposes a click binding for model elements, that we did not wire while the complete editor opens a details form.
</p>
<emfular-basic-editor
        [svgwidth]="750"
        [svgheight]="300"
        [modelService]="demoModelService"
>
    <svg:g canvas>
        <g tree-model-element
           [referencable]="demoModelService.model"
           [position]="positionCompleteFirstElem"
           [color]="'#ccb5b5'"
        >
        </g>
    </svg:g>
</emfular-basic-editor>

<h3>Complete Tree Editor</h3>

<p>
    There is also a complete tree based editor, that users who have no graphical representation of their own, can use.
    It already has the graphical details service wired in:
    when clicking on an element, a details form opens as a modal.
    If you then adapt any relationship on that, your choice dialogue for the other model element is the graphical tree details view you also see on the main canvas.
    This later interaction gave the service its name.
</p>

<emfular-tree-editor
    [modelService]="demoModelService"
    [svgwidth]="750"
    [svgheight]="500"
>

</emfular-tree-editor>