<h1>The Integration Playground</h1>

<p>
    The EMFular integration library combines core, diagram and tool into ready-to-use modeling editors.
    This interactive playground allows you to explore the following features:
</p>
<ul>
    <li>Graphical components that display the EMF backbone tree</li>
    <li>Detail views that offer modification of model relationships and attributes</li>
</ul>


<p>
    For source code, issues, and contributions, visit the
    <a href="https://github.com/softlang/EMFular-integration" target="_blank" rel="noopener">
        project on GitHub</a>.
</p>